/*
start main rules
*/
body{
   background-color:#EEE; 
}
/*
end main rules
*/
/*
start footer
*/
.footer
{
    width: 100%;
    padding: 20px;
    background-color:#333;
    color:#fff;
    bottom:0;
    left: 0;
    right: 0;
    margin-top: 50px;
}
/*
end footer
*/
/*
start post
*/
.main-post
{
     background-color:#fff;
     border:1px solid #d8d8d8;
     padding:20px;
     margin-bottom:30px;
}
/*.post-pagination
{
    margin: 20px auto 30px;
    width:400px;
    text-align: center;
}
.post-pagination a,
.post-pagination span
{
    display: inline-block;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 5px;

}
.post-pagination a:first-of-type
{
    margin-right:10px;
}
.post-pagination span
{
    opacity:.5;
    cursor:not-allowed;
}
.post-pagination .prev-span
{
    margin-right:10px;
}
.post-pagination .next-span
{
    margin-left:10px;
}*/
.pagination-number
{
    margin:5px auto 25px;
   font-size:16px;
}
.pagination-number .page-numbers
{
display:inline-block;
background-color:#8e8e8e;
color:#fff;
padding:5px 10px;
border-radius:5px;
font-weight:bold;
}
.main-post .post-author,
.main-post .post-date,
.main-post .post-comment
{
    font-size:12px;
}
.main-post h3
{
    margin:0 0 10px;
    color:#777;
    font-weight: bold;
    letter-spacing:-1px;
}
.main-post img
{
    display: block;
    margin:10px 0 10px;
}
.main-post .post-content
{
    line-height:1.7;
    color:#888;
}
.main-post i
{
    color:#999;
}

/*
end post
*/

/*
start  single post
*/

.single-post
{
    position:relative;
}
.single-post .edit-post
{
    position:absolute;
    top:0;
    right:0;
    padding: 10px;
    background-color:#eee;
    border-radius:0 0 0 10px;
}

.single-post .edit-post i
{
    margin-left:5px;
    color:#337ab7;
}
.random-posts
{
    padding: 10px;
    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid #e4e4e4;  
}
.random
{
    margin:0 0 20px;
    background-color: #e2e2e2;
    padding: 20px 40px;
    font-weight: bold;
    color: #727272;
}
/*
end single post
*/
/*
start author info
*/
.author
{
    background-color:#fff;
    padding:20px;
}
.author-infor h4
{
margin:12px 0 10px 0;
font-weight:bold;
font-size:26px;
color:#676767;
}
.author-infor p
{
font-size:17px;
line-height: 1.6;
color:#777;
}
.author-infor span
{
    color:#337ab7;
}
/*
end author info
*/
/*
start comments
*/

.comments-list ul,
.comments-list ol
{
list-style: none;
margin: 0;
padding: 0;
}
.comments-count
{
    padding: 20px;
    background-color: #e2e2e2;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    border: 1px solid #dedede;
    color: #909090;
}
.comments-list .comment img
{
    padding: 3px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    margin-right: 5px;
}
.comments-list .comment .comment-meta a
{
font-size: 17px;
color: #777;
}
.comments-list .comment p
{
margin-top: 8px;
color: #6f6f6f;
}
.comments-list .says
{
    display:none;
}
.comments-list >.comment
{
background-color: #fff;
padding: 10px;
border: 1px solid #ddd;
margin-bottom: 15px;
}
.comments-list >.comment>.children>.comment
{
background-color: #eee;
padding: 10px;
margin-top: 10px;
border: 1px solid #ccc;
}
.comments-list >.comment>.children>.comment .comment
{
background-color: #ddd;
margin-top: 10px;
border: 1px solid #aaa;
}



/*
end comment
*/
/*
start profile
*/
.author-page .profile-name
{
    font-size: 60px;
    margin: 30px 0;
    color: #666;
    font-weight:bold;
    letter-spacing: -3px;
}
.author-names
{
    line-height: 1.5;
    color: #666;
    margin-top: 10px;
}
.author-names span
{
    display: inline-block;
    min-width: 120px;
}
.author-page .author-main-info hr
{
    margin-top: 10px;
    margin-bottom: 10px;
}
.author-page .author-main-info
{
    background-color: #fff;
    padding: 40px 20px;
    font-size: 18px;
    margin-bottom: 20px;
    border: 1px solid #dedede;
}
.author-page .author-main-info p
{
    letter-spacing: 1px;
    color: #777;
    line-height: 1.7;
    margin-bottom: 0;
}
.author-stats
{
    color: #808080;
}
.author-stats .stats
{
    background-color: #fff;
    padding: 20px;
    font-size: 14px;
    margin-bottom: 20px;
    border: 1px solid #dedede;
    text-align: center;  
}
.author-stats .stats span
{
    display: block;
    font-size: 50px;
    margin-top: 10px;
}
.auth-title
{
    margin:0 0 20px;
    background-color: #e2e2e2;
    padding: 20px 30px;
    font-weight: bold;
    color: #727272;

}
.profile-posts
{
 padding: 20px;
 background-color: #fff;
 margin-bottom: 20px;
 border: 1px solid #e4e4e4;
}
.auth-comments-title
{
    margin:0 0 20px;
    background-color: #e2e2e2;
    padding: 10px 30px;
    font-weight: bold;
    color: #727272;
}
.comments
{
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid #e4e4e4;   
}
.comment-content,
.post-date
{
    color:#777;
    font-size: 18px; 
}
/*
end profile
*/
.page-not-found img
{
    width:600px
}
.page-not-found h1
{
 color:#777;
font-size: 70px; 
margin-top:20px;
letter-spacing:-3;
}